.gitignore
.npmignore

.DS_Store
Thumbs.db

node_modules

tmp
*.log
*.tmp
*.sock
*.min*

ame

*.tgz

History.md
LICENSE
Readme.md
Todo.md
client.coffee
lib/code.coffee
lib/utils.coffee
Makefile

packages/
snippets/


support
test
examples
lib-cov

bin/
docs/