extends ../layout

block content

  include ../messages

  //p= Try accessing <a href="/restricted">/restricted</a>, then authenticate with "admin" and "foobar".
  
  form#post(action='/login', method='post')
    //if post.title
    //  input(type='hidden', name='_method', value='put')
    p
      label(for='username') Name:
      input(type='text', name='username')
    p
      label(for='password') Password:
      input(type='text', name='password')
    p
      input(type='submit', value='Login')

